.jumbotron {
    background: url("./images/mall5.jpg"); 
    background-color: #000;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    color: #fff;
    margin: 0;
    padding: 50px 0;
    text-align: center;
}

.jumbotron div{
  display: inline-block;
  text-align: center;
  background: rgba(27, 40, 56, 0.767);
  padding: 30px;
}

.jumbotron div h1{
  font-size: 3.4rem;
  color: #e6e4eb;
}

.jumbotron div button{
  font-size: 1.9rem;
  background: #4F2DC9;
}

button a{
  color: #fff;
}

button a:hover{
  color: #1A1A1A;
}

/* CSS */
.button-28 {
  appearance: none;
  background-color: transparent;
  border: 1px solid #fff;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: Roobert,-apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
  font-size: 30px;
  font-weight: 600;
  line-height: normal;
  margin: 0;
  min-height: 30px;
  min-width: 0;
  outline: none;
  padding: 4x 4x;
  text-align: center;
  text-decoration: none;
  transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  will-change: transform;
  margin-right: 10px;
}

.button-28:disabled {
  pointer-events: none;
}

.button-28:hover {
  color: #1A1A1A;
  background-color: #fff;
  box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
  transform: translateY(-2px);
}

.button-28:active {
  box-shadow: none;
  transform: translateY(0);
}

.button-28 span{
    font-size: 16px;
}

.button-span{
    min-height: 0px;
    padding-top: 0;
}

.button-41 {
  background-color: initial;
  border: 1px solid #fff !important;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.1) 0 2px 4px;
  color: #FFFFFF;
  cursor: pointer;
  display: inline-block;
  font-family: Inter,-apple-system,system-ui,Roboto,"Helvetica Neue",Arial,sans-serif;
  height: 44px;
  line-height: 44px;
  outline: 0;
  overflow: hidden;
  padding: 0 20px;
  pointer-events: auto;
  position: relative;
  text-align: center;
  touch-action: manipulation;
  user-select: none;
  -webkit-user-select: none;
  vertical-align: top;
  white-space: nowrap;
  z-index: 9;
  border: 0;
}

.button-41:hover {
    color: #1A1A1A;
    background-color: #fff;
    box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
    transform: translateY(-2px);
}